<div>
    <a class="btn btn-info" href="/apparel">View Apparel</a>
    <a class="btn btn-info" href="/apparel/new">+ Add Apparel</a>
    <a class="btn btn-info" href="/accessory">View Accessories</a>
    <a class="btn btn-info" href="/accessory/new">+ Add Accessory</a>
</div>
<br>
{{#each apparel}}
<div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>
                            <a href='/apparel/{{_id}}'>{{name}}</a>
                        </h4>
                        (Bought: ${{boughtPrice}}) - (Sold: ${{listPrice}})
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{notes}}
                    </div>
        </div>
    </div>
    </div>
    <br>
{{/each}}
{{#each accessory}}
    <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>
                            <a href='/accessory/{{id}}'>{{name}}</a>
                        </h4>
                        (Bought: ${{boughtPrice}}) - (Sold: ${{listPrice}})
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{notes}}
                    </div>
        </div>
    </div>
    </div>
    <br>
{{/each}}